@media screen and (max-width: 1400px) {
  .container {
    max-width: calc(100% - 180px);
  }
}

@media screen and (max-width: 1200px) {
  .grid {
    gap: 20px;
  }

  .home__data {
    padding-right: 40px;
  }

  .home__title {
    font-size: var(--big-font-size);
  }

  .home__description {
    font-size: var(--small-font-size);
  }

  .home__img {
    height: 400px;
    width: 400px;
  }

  .skills__container {
    row-gap: 32px;
  }

  .skill__ItemBox {
    padding: 15px;
  }

  .resume__icon {
    width: 36px;
    height: 36px;
    line-height: 38px;
  }

  .resume__item {
    padding-left: 55px;
  }

  .project__modal-content {
    max-width: 600px;
  }

  .modal__close {
    width: 40px;
    height: 40px;
  }

  .form__input-group {
    column-gap: 24px;
  }

  .form__input-div {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 720px;
  }

  .home {
    padding: 20px;
    grid-template-columns: 5fr 7fr;
  }

  .home__img {
    height: 350px;
    width: 350px;
  }

  .home__data {
    padding-right: 0;
  }

  .section {
    padding-block: 50px;
  }

  .section__title {
    margin-bottom: 40px;
  }

  .subtitle__center {
    margin-bottom: 45px;
  }

  .skills__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .resume__container {
    grid-template-columns: 1fr;
    row-gap: 45px;
  }

  .resume__item:not(:last-child) {
    margin-bottom: 45px;
  }

  .separator {
    margin: 65px auto 50px;
  }

  .project__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact__container {
    row-gap: 48px;
  }

  .form__input-group .form__input-div {
    grid-column: 1/-1;
  }
}

@media screen and (max-width: 768px) {
  .home {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 10px;
  }

  .color__block {
    display: none;
  }

  .home__img {
    width: 270px;
    height: 270px;
    margin-top: auto;
  }

  .home__content {
    max-width: 500px;
    text-align: center;
    margin-bottom: auto;
  }

  .container {
    max-width: 540px;
  }

  .skills__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .project__modal-content {
    padding: 25px 20px;
  }

  .modal__close {
    /* top: -9%;
    right: 0; */
    top: 20px;
    right: 20px;
  }
  .contact__container {
    grid-template-columns: 1fr;
  }

  .contact__info {
    display: grid;
    grid-template-columns: 3fr 4fr;
    column-gap: 12px;
  }
}

@media screen and (max-width: 576px) {
  .nav__toggle {
    top: 20px;
    right: 15px;
  }

  .nav__link {
    column-gap: 20px;
  }

  .nav__icon,
  .nav__name {
    font-size: var(--h3-font-size);
  }

  .container {
    max-width: 420px;
  }

  .project__container {
    grid-template-columns: 1fr;
  }

  .project__modal-content {
    max-width: 450px;
  }

  .language {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
  }

  .modal__img {
    height: 200px;
  }

  .modal__close {
    width: 30px;
    height: 30px;
  }

  .contact__info {
    display: grid;
    grid-template-columns: 1fr;
  }

  .theme__img {
    width: 25px;
  }

  .style__switcher-toggler,
  .theme__toggler {
    width: 40px;
    height: 40px;
  }

  .style__switcher-toggler {
    top: 15%;
  }

  .theme__toggler {
    bottom: 15%;
  }

  .style__switcher-close {
    top: 5%;
  }
}

@media screen and (max-width: 450px) {
  .home__img {
    width: 200px;
    height: 200px;
  }

  .home__title {
    font-size: var(--h1-font-size);
  }

  .hero__typeWritter {
    font-size: var(--normal-font-size);
  }

  .container {
    max-width: 345px;
  }

  .skills__container {
    grid-template-columns: 1fr;
  }

  .skill__ItemBox {
    /* padding: 10px; */
    box-shadow: 0 5px 0 0px var(--shadow-first-color);
  }

  .skill__ItemBox p {
    font-size: var(--smaller-font-size);
  }
}

/* @media screen and (max-width: 350px) {
  .skills__container {
    grid-template-columns: 1fr;
  }

  .skill__ItemBox p {
    padding: 10px;
  }
} */
